{% extends "layout.html" %}
{% block content %}
    {% for log in logs %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{log.event_name}}</a>
              <small class="text-muted">{{log.event_category}}</small>
            </div>
            <h2><a class="article-title" href="#">{{log.event_action}}</a></h2>
            <p class="article-content">{{log.event_label}}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}